################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/DungeonsOfDoom/obj/Debug/CoreCompileInputs.cache
/DungeonsOfDoom/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DungeonsOfDoom/obj/Debug
/DungeonsOfDoom/obj
/.vs/Dungeons-of-doom/v15/.suo
